<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.token.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.token.android.SplanActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.token.android.SettingActivity"
            android:label="设置密码"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.token.android.SecActivity"
            android:launchMode="singleTask"
            android:label="密令" >
        </activity>
        <activity
            android:name="VerifyLockPatternActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="SetLockPatternActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity android:name="SelectEnvActivity"></activity>
    </application>

</manifest>